@using LolStatistics.Web.Models
@model TeamStalkerViewModel

<tr>
    <td rowspan="@Math.Min(3, @Model.Mains.Count)">@Model.Name</td>
    <td>@Model.Mains[0]</td>
    <td>@Model.ChampionStatistics[@Model.Mains[0]].TotalGames</td>
    <td>@Model.ChampionStatistics[@Model.Mains[0]].WinRate%</td>
    <td>@Model.ChampionStatistics[@Model.Mains[0]].KDA</td>
</tr>
@for (int i = 1; i < Math.Min(3, @Model.Mains.Count); i++)
{
    <tr>
        <td>@Model.Mains[i]</td>
        <td>@Model.ChampionStatistics[@Model.Mains[i]].TotalGames</td>
        <td>@Model.ChampionStatistics[@Model.Mains[i]].WinRate%</td>
    <td>@Model.ChampionStatistics[@Model.Mains[i]].KDA</td>
    </tr>
}
