@using LolStatistics.Web.Models
@model List<TeamStalkerViewModel>


    @foreach (TeamStalkerViewModel subModel in Model)
    {
        <tr>
            <th class="no-border-top">@subModel.Name</th>
        </tr>
        if (subModel.Champions.Any())
        {
            <tr>
                <td rowspan="@Math.Min(3, @subModel.Mains.Count)">@subModel.Classement</td>
                <td rowspan="@Math.Min(3, @subModel.Mains.Count)">@subModel.LeagueInfo.LeaguePoints LP</td>
                <td>@subModel.Mains[0].Name</td>
                <td>@subModel.ChampionStats(@subModel.Mains[0].Id).TotalGames</td>
                <td>@subModel.ChampionStats(@subModel.Mains[0].Id).WinRate%</td>
                <td>@subModel.ChampionStats(@subModel.Mains[0].Id).KDA</td>
            </tr>
            for (int i = 1; i < Math.Min(3, @subModel.Mains.Count); i++)
            {
                <tr>
                    <td>@subModel.Mains[i].Name</td>
                    <td>@subModel.ChampionStats(@subModel.Mains[i].Id).TotalGames</td>
                    <td>@subModel.ChampionStats(@subModel.Mains[i].Id).WinRate%</td>
                    <td>@subModel.ChampionStats(@subModel.Mains[i].Id).KDA</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>@subModel.Classement</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr></tr>
        }
    }
