@using LolStatistics.Web.Models
@model StatisticsViewModel

@{
    ViewBag.Title = "My Statistics";
}
<script type="text/javascript">
    var datas = @Html.Raw(Json.Encode(Model))
</script>

<ul class="nav nav-tabs">
    <li id="Tableau" role="presentation" class="active">
        <a href="#">
            Tableau
        </a>
    </li>
    <li id="Graphiques" role="presentation">
        <a href="#">
            Graphiques
        </a>
    </li>
</ul>
<div class="container-fluid statistics-container">
    <div class="page-header">
        <h2>Statistiques</h2>
    </div>
    @Html.Partial("Tableau", Model)
    @Html.Partial("Graphe", Model)
</div>

@section scripts{
    @Scripts.Render("~/Scripts/lodash.js")
    @Scripts.Render("~/Scripts/HighCharts/highcharts.js")
    @Scripts.Render("~/Scripts/HighCharts/highcharts-more.js")
@Scripts.Render("~/Scripts/HighCharts/dark-unica.js")
    @Scripts.Render("~/Scripts/Statistics.js")
}
